<h1>Requests I've made:</h1>
<% @my_requests.each do |request| %>
  <div>
    <h3>I have requested a booking at: <%= request.space_id %></h3>
    <h3>I have requested to stay from <%= Date.parse(request.start_date).strftime('%a %-d %b %Y') %> - <%= Date.parse(request.end_date).strftime('%a %-d %b %Y') %></h3>
  </div>
<% end %>

<h1>Requests I've received:</h1>
<% @incoming_requests.each do |request| %>
  <% renter = User.find(id: request.user_id)  %>
  <div>
    <h3><%= renter.name %> has requested to book space <%= request.space_id %> from <%= Date.parse(request.start_date).strftime('%a %-d %b %Y') %> to <%= Date.parse(request.end_date).strftime('%a %-d %b %Y') %></h3>
  </div>
<% end %>