<div>
  <h1>Requests I've made:</h1>
  <% @my_requests.each do |request| %>
    <a href="/spaces/<%= request.id %>">
      <ul>
        <li>
          Space: <%= request.space_id %>
        </li>
        <li>
          Dates: <%= Date.parse(request.start_date).strftime('%a %-d %b %Y') %> - <%= Date.parse(request.end_date).strftime('%a %-d %b %Y') %>
        </li>
      </ul>
    </a>
  <% end %>
</div>

<div>
  <h1>Requests I've received:</h1>
  <% @incoming_requests.each do |request| %>
    <% renter = User.find(id: request.user_id)  %>
    <a href="/spaces/<%= request.id %>">
      <ul>
        <li>
          Space: <%= request.space_id %>
        </li>
        <li>
          Renter: <%= renter.name %>
        </li>
        <li>
          Dates: <%= Date.parse(request.start_date).strftime('%a %-d %b %Y') %> to <%= Date.parse(request.end_date).strftime('%a %-d %b %Y') %>
        </li>
        <li>
          Approved?: <%= request.booking_confirmed == "t" ? "yes" : "no" %>
        </li>
      </ul>
    </a> 
  <% end %>
</div>