<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="<%=@space.url%>" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3"><%= @space.name%></h1>
      <p class="lead"><%= @space.description%></p>
      <div class="d-flex justify-content-center">
        <div class="input-group w-25 m-5">
          <span class="input-group-text">£</span>
          <span type="text" name="price" class="form-control" id="listing-price"
            aria-label="Amount (to the nearest dollar)"><%= @space.price %><small class="fst-italic text-muted"> per
              night</small></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <ul class="list-group list-group-horizontal">
      <% @availability.reverse.each do |date| %>
        <li class="list-group-item" id="list-group-item">
          <form action="/bookings/new" method="post">
            <button type="submit" name="start_date" id="listing_fromdate" value="<%= date %>">
              <%= date %>
            </button>
            <input type="hidden" name="end_date" id="listing_todate" value="<%= date %>">
            <input type="hidden" name="space_id" value="<%= @space.id %>">
           <input type="hidden" name="host_id" value="<%= @space.user_id %>">
          </form>
        </li>
      <% end %>
    </ul>
  </div>
</div>
