<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="<%=generate_image%>" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3"><%= @space.name%></h1>
      <p class="lead"><%= @space.description%></p>
      <div class="d-flex justify-content-center">
        <div class="input-group w-25 m-5">
          <button type="button" id="book_request_button"class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Request to stay
          </button>
        </div>
        <%= partial :request_form %>
        <div class="input-group w-25 m-5">
          <span class="input-group-text">£</span>
          <span type="text" name="price" class="form-control" id="listing-price"
            aria-label="Amount (to the nearest dollar)"><%= @space.price %><small class="fst-italic text-muted"> per
              night</small></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <ul class="list-group list-group-horizontal">
      <% @availability.reverse.each do |date| %>
        <li class="list-group-item" id="list-group-item">
          <form action="/send-request" method="post">
            <button type="submit">
              <%= date %>
            </button>
          </form>
        </li>
      <% end %>
    </ul>
  </div>
</div>
