<div class="row">
<div class="col">
  <div class="d-flex flex-column">
    <% @spaces.each_with_index do |space, i| %>
    <% if i.even? %>
    <div class="card m-5" style="width: 25rem;">
      <img src="<%= generate_image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= space.name %></h5>
        <p class="card-text"><%= space.description %>
        </p>
      </div>
      <div class="d-flex flex-row space justify-content-evenly">
        <div>
          <p class="mb-0 text-secondary">From:</p>
          <p><%= Date.parse(space.available_from).strftime('%a %-d %b %Y') %></p>
        </div>
        <div>
          <p class="mb-0 text-secondary">To:</p>
          <p><%= Date.parse(space.available_to).strftime('%a %-d %b %Y') %></p>
        </div>
      </div>
      <form action="/spaces/<%= space.id %>/view" method="get">
        <button class="btn btn-sm m-2 btn-link bg-white" type="submit" value="<%= space.id %>">
          <h6>View</h6>
        </button>
      </form>
      <div class="card-footer text-muted d-flex justify-content-center">
        £<%= space.price %> per night
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<div class="col">
  <div class="d-flex flex-column">
    <% @spaces.each_with_index do |space, i| %>
    <% if i.odd? %>
    <div class="card m-5" style="width: 25rem;">
      <img src="<%= generate_image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= space.name %></h5>
        <p class="card-text"><%= space.description %>
        </p>
      </div>
      <div class="d-flex flex-row space justify-content-evenly"></div>
        <div>
          <p class="mb-0 text-secondary">From:</p>
          <p><%= Date.parse(space.available_from).strftime('%a %-d %b %Y') %></p>
        </div>
        <div>
          <p class="mb-0 text-secondary">To:</p>
          <p><%= Date.parse(space.available_to).strftime('%a %-d %b %Y') %></p>
        </div>
      </div>
      <form action="/spaces/<%= space.id %>/view" method="get">
        <button class="btn btn-sm m-2 btn-link bg-white" type="submit" value="<%= space.id %>">
          <h6>View</h6>
        </button>
      </form>
      <div class="card-footer text-muted d-flex justify-content-center">
        £<%= space.price %> per night
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>

