<div class="d-flex flex-column align-items-center">
   <div class="p-3 my-3" id="search-by-date">
     <h5 class="text-danger text-center mb-0">Search by Date</h5>
     <form action="/spaces" method="get">
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <input type="date" name="booking_date" id="booking_date">
         <input type="submit" value="Search" class="btn btn-outline-danger">
     </form>
   </div>
   </div>
<div class="row">

  <div class="col d-flex justify-content-center">
    <div class="d-flex flex-column">
      <% @spaces.each_with_index do |space, i| %>
      <% if i.even? %>
      <div class="card m-5 " style="width: 25rem;">
        <img src="<%= space.url %>" class="card-img-top hover_image" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= space.name %></h5>
          <p style="width:40ch; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="card-text"><%= space.description %>
          </p>
        </div>
        <div class="d-flex flex-row space justify-content-evenly">
          <div>
            <p class="mb-0 text-secondary">From:</p>
            <p><%= Date.parse(space.available_from).strftime('%a %-d %b %Y') %></p>
          </div>
          <div>
            <p class="mb-0 text-secondary">To:</p>
            <p><%= Date.parse(space.available_to).strftime('%a %-d %b %Y') %></p>
          </div>
        </div>
        <div class="w-100 d-flex flex-row  justify-content-center">
        <form action="/spaces/<%= space.id %>/view" method="get">
          <button class="btn btn-sm m-2 btn-outline-danger" type="submit" value="<%= space.id %>">
            View
          </button>
        </form>
        </div>
        <div class="card-footer text-muted d-flex justify-content-center">
          £<%= space.price %> per night
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="d-flex flex-column">
      <% @spaces.each_with_index do |space, i| %>
      <% if i.odd? %>
      <div class="card m-5" style="width: 25rem;">
        <img src="<%= space.url %>" class="card-img-top hover_image" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= space.name %></h5>
          <p style="width:40ch; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"class="card-text"><%= space.description %>
          </p>
        </div>
        <div class="d-flex flex-row space justify-content-evenly">
          <div>
            <p class="mb-0 text-secondary">From:</p>
            <p><%= Date.parse(space.available_from).strftime('%a %-d %b %Y') %></p>
          </div>
          <div>
            <p class="mb-0 text-secondary">To:</p>
            <p><%= Date.parse(space.available_to).strftime('%a %-d %b %Y') %></p>
          </div>
        </div>
        <div class="w-100 d-flex flex-row  justify-content-center">
        <form action="/spaces/<%= space.id %>/view" method="get">
          <button class="btn btn-sm m-2 btn-outline-danger" type="submit" value="<%= space.id %>">
            View
          </button>
        </form>
        </div>
        <div class="card-footer text-muted d-flex justify-content-center">
          £<%= space.price %> per night
        </div>
      </div>
      <% end %>
      <% end %>
    </div>


  </div>
  </div>